
<footer class="text-muted">
    <div class="container">
      <p style="margin-right:20px ; align-self:center;">Todos los derechos reservados SICP !</p>
      <ul class="list-unstyled" style="display: flex; align-items: center;">
        <li><a href="#" style="margin-right:20px ; align-self: center;">Volver al inicio</a></li>
        <li><a href="#" class="text" style="margin-right:20px ; align-self: center;">Siguenos en X</a></li>
        <li><a href="#" class="text" style="margin-right:20px ; align-self: center;">Siguenos en Facebook</a></li>
        <li><a href="#" class="text" style="margin-right:20px ; align-items: center;">Contactanos</a></li>
        
      </ul>
    </div>
  </footer>